@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,900;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// import section styling
@import "./stylis/section-1";
@import "./stylis/section-2";
@import "./stylis/section-3";
@import "./stylis/section-4";

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

section {
  padding: 0 px;
}

